<div class='Fondo'>
    <mat-accordion>
      <!--SECCIÓN PARA PUBLICAR-->
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h1>Publicar</h1>
            </mat-panel-title>
            <mat-panel-description>
                <h2>Seccion para realizar Publicaciones</h2>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <br>
        <div class="FormPublicaciones">
          <label >Texto</label>

          <textarea matInput  class="txtA"
            [(ngModel)]="txtPublicacion"
            name="txtPublicacion"
            placeholder="Ingrese texto aquí ..."
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"></textarea>
          <br>        
          <br>
          <input #fileInput2 type="file"   [(ngModel)]="ImagenP"   name="ImagenP" class="custom-file-input2" >
          <br>
          <button class="Botones" (click)="crearPublicacion()">Publicar</button>
        </div>


      </mat-expansion-panel>

      <!--SECCIÓN DE PUBLICACIONES-->
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
               <h1>Publicaciones</h1>
            </mat-panel-title>
            <mat-panel-description>
                <h2>Seccion para ver las Publicaciones</h2>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <br>
        <input matInput class="Filtro" [(ngModel)]="txtTagF" name="txtTagF"placeholder="Filtrar">
        <button class="Botones" (click)="addTagFiltro()">Filtrar</button>
        <button  class="Botones" (click)="borrarFiltros()">Borrar Filtros</button>
        <br> <br> <br>
        <mat-card  *ngFor="let publi of Publicaciones" class='FondoPublicacion'>
          <mat-card-header>
            <mat-card-title>{{publi.Usuario}}</mat-card-title>
            <mat-card-subtitle>{{publi.Fecha}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{publi.Texto}}
              {{publi.Tags}}
            </p>
          </mat-card-content>
          <img mat-card-image src="http://localhost:3000/{{publi.Imagen}}" style="width: 350px; height: 350px; " >
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>

        </mat-card>





      </mat-expansion-panel>

    </mat-accordion>
    </div>