<div class='Fondo'>
    <mat-accordion>
        <!--SECCIÓN DE AMIGOS AGREGADOS-->
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title >
                    <h1>Amigos</h1>
                </mat-panel-title>
                <mat-panel-description>
                    <h2>Lista de Amigos Agregados</h2>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <input matInput [(ngModel)]="Filtro1" name="Filtro1" class="Filtro" placeholder="Filtrar">
            <button class="Botones" (click)="getAmigos(Filtro1,1)">Filtrar</button>
            <button class="Botones" (click)="getAmigos(Filtro1,0)">Borrar Filtros</button>
            <br>
            <label class="Anuncio">{{Anuncio1}}</label>
             
            <mat-card *ngFor="let amigo of Amigos" class='FondoPublicacion'>
                
                <mat-card-header>
                    <mat-card-title>{{amigo.usuario}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="Imagen">
                        <img mat-card-image src="{{amigo.foto}}">
                        <br>
                        <label>Archivos Publicados: {{amigo.archivos}}</label>
                    </div>
                </mat-card-content>
                
                <mat-card-actions>
                    <button mat-button class="Botones2" (click)="adminFriends(amigo.idUser,1)">Eliminar</button>
                </mat-card-actions>

            </mat-card>
        </mat-expansion-panel>

        <!--SECCIÓN DE SUGERENCIAS-->
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1>Sugerencias</h1>
                </mat-panel-title>
                <mat-panel-description>
                    <h2>Personas que quiza conozcas</h2>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <input matInput matInput [(ngModel)]="Filtro2" name="Filtro2" class="Filtro" placeholder="Filtrar">
            <button class="Botones" (click)="getSugerencias(Filtro2,1)">Filtrar</button>
            <button class="Botones" (click)="getSugerencias(Filtro2,0)">Borrar Filtros</button>
            <br> 
            <label class="Anuncio">{{Anuncio2}}</label>
             
            <mat-card *ngFor="let sugerencia of Sugerencias"class='FondoPublicacion'>
                
                <mat-card-header>
                    <mat-card-title>{{sugerencia.usuario}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="Imagen">
                        <img mat-card-image src="{{sugerencia.foto}}">
                        <br>
                        <label>Archivos Publicados: {{sugerencia.archivos}}</label>
                    </div>
                </mat-card-content>
                
                <mat-card-actions>
                    <button mat-button class="Botones2"  (click)="adminFriends(sugerencia.idUser,2)">Agregar</button>
                </mat-card-actions>

            </mat-card>
        </mat-expansion-panel>

        <!--SECCIÓN SOLICICITUDES-->
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1>Solicitudes</h1>
                </mat-panel-title>
                <mat-panel-description>
                    <h2>Personas que desean ser tus amigos</h2>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <input matInput [(ngModel)]="Filtro3" name="Filtro3"  class="Filtro" placeholder="Filtrar">
            <button class="Botones" (click)="getSolicitudes(Filtro3,1)">Filtrar</button>
            <button class="Botones" (click)="getSolicitudes(Filtro3,0)">Borrar Filtros</button>
            <br> 
            <label class="Anuncio">{{Anuncio3}}</label>
            
            <mat-card *ngFor="let solicitud of Solicitudes" class='FondoPublicacion'>
                
                <mat-card-header>
                    <mat-card-title>{{solicitud.usuario}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="Imagen">
                        <img mat-card-image src="{{solicitud.foto}}">
                        <br>
                        <label>Archivos Publicados: {{solicitud.archivos}}</label>
                    </div>
                </mat-card-content>
                
                <mat-card-actions>
                    <button mat-button class="Botones2" (click)="adminFriends(solicitud.idUser,0)">Aceptar</button>
                    <button mat-button class="Botones2"  (click)="adminFriends(solicitud.idUser,1)">Rechazar</button>
                </mat-card-actions>

            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</div>