<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="login.component.css">
</head>

<body>

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div id="TabsR">
                <mat-tab-group>
                    <mat-tab label="Login">
                        <div class="card">

                            <div class="card-body">
                                <form>
                                    <div class="Indicacion">
                                        <h1>Ingresa por Usuario y Contraseña!</h1>
                                    </div>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input [(ngModel)]="Usuario" name="Usuario" type="text" class="form-control" placeholder="username">

                                    </div>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        <input [(ngModel)]="Passwords" name="Passwords" type="password" class="form-control" placeholder="password">
                                    </div>
                                    <hr style="width:75%;" style="border-color:rgba(224, 211, 211, 0.76);">
                                    <div class="Indicacion">
                                        <h1>Ingresa por foto!</h1>
                                    </div>
                                    <button mat-menu-item (click)="openDialog2()" id="FotoLog" class="btn float-right">Tomar Foto</button>
                                    <div class="form-group">
                                        <input (click)="Login()" type="submit" value="Login" class="btn float-right login_btn">
                                    </div>
                                </form>

                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Registro">                        
                        <div class="cardRegistro">

                            <div class="card-bodyRegistro">

                                <form>
                                    <label> Usuario</label>
                                    <input  [(ngModel)]="Usr" name="Usr" placeholder="Usuario" type="text"
                                        class="form-control">
                                    <label> Nombre</label>
                                    <input  [(ngModel)]="Nombre" name="Nombre" placeholder="Name" type="text"
                                        class="form-control">
                                    <label> Correo</label>
                                     <input  [(ngModel)]="Correo" name="Correo" placeholder="Name" type="text"
                                        class="form-control">
                                    <label> Contraseña</label>
                                    <input  [(ngModel)]="Pass" name="Pass" placeholder="Password" type="text"
                                        class="form-control">
                                    <label> Repetir Contraseña</label>
                                    <input [(ngModel)]="Pass2" name="Pass2" placeholder="Repetir Password" type="text"
                                        class="form-control">
                                    <label> Foto</label>
                                    <div class="OpcionFoto" >
                                        <button id="OpcionFoto" mat-button [matMenuTriggerFor]="animals">Opcion Foto</button>
                                        <mat-menu #animals="matMenu">
                                        <button mat-menu-item >
                                            <input  
                                            id="custom-file-input" type="file"
                                            accept="image/jpeg,image/png"
                                            #fileInput [(ngModel)]="Foto"
                                            name="Foto">
                                        </button>
                                        <button mat-menu-item (click)="openDialog()">Tomar Foto</button>
                                        </mat-menu>
                                    </div>                                    
                                    <input type="submit" value="Registro"(click)="Registrar()" class="registro_btn">                                    
                                </form>
                            </div>
                        </div>                        
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>        
    </div>
     
</body>

</html>