/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 520px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.cardRegistro{
    height: 650px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    

.card-body input {
    margin-top: 50px;
}

.card-bodyRegistro{
    align-items: center;
}

.card-bodyRegistro label{
    color:rgba(192, 196, 7, 0.5);
    margin-left: 40px;
    margin-top: 10px;
}

.card-bodyRegistro input {
    width: 300px;
    height: 35px;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 5px;
}
.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
margin-top: 50px ;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}
.registro_btn{
    color: black;
    background-color: #FFC312;
    width: 80px;
    margin-top: 40px;
}

.login_btn:hover, .registro_btn:hover{
color: black;
background-color: white;
}

.links{
    color: white;
}

.links a{
margin-left: 6px;
}

#TabsR{
    width: 400px;
    height: 40px;
    background: rgb(34,21,241);
background: linear-gradient(153deg, rgba(36, 21, 241, 0.233) 0%, rgba(219, 195, 59, 0.822) 35%, rgba(11, 8, 84, 0.11) 89%);
}

#custom-file-input::before {
    content: 'Seleccionar Foto';
    color: rgba(14, 11, 11, 0.671);
    display: inline-block;
    background: white ;
    border: transparent;
    border-radius: 2px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-family: 'Numans', sans-serif;
    font-size: 10pt;
    width: 300px;
  }

  
  #custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

#OpcionFoto {
    color: rgba(14, 11, 11, 0.671);
    display: inline-block;
    background: white ;
    border: transparent;
    width: 300px;
    border-radius: 2px;
    padding: 5px 8px;    
    margin-left: 50px;
    margin-right: 5px;

}

#FotoLog{
    color: rgba(14, 11, 11, 0.671);
    
    background: white ;
    border: transparent;
    width: 352px;
    border-radius: 2px;
    padding: 5px 8px;    
    margin-left: 4px;
    height: 40px;
    margin-right: 5px;
    margin-top: 20px;
}

.Indicacion h1{
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 15px; 
    color: rgba(255, 255, 255, 0.74); 
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}